<%- include("partials/header") %>

    </body>
    <div class="container con-main col-xl-10 col-xxl-8 px-4">
        <div class="help">
            <h2>Help</h2>
            <br>
            <p class="help-questions">
                What does <i>"Unable to connect to database and process the request."</i> mean?
            </p>
            <p>EU Member States are required by law to keep their databases up to date. When these are being updated
                (usually during an offpeak time), they are temporarily unavailable.</p>
            <hr>
            <p class="help-questions">
                I entered my VAT ID correctly, but it's not working.
            </p>
            <p>Double check if there is country-specific formatting required, eg. periods(.) or dashes(-). You can view
                a
                list of EU VAT formats <a href="https://en.wikipedia.org/wiki/VAT_identification_number">here</a>.</p>
            <hr>
        </div>

    </div>

    </html>